<!--<div class="book-content">-->
<!--  <div class="container">-->
<!--    <div><p>{{inputText}}</p>-->
<!--      <div *ngIf="breakfast">Breakfast: Yes</div>-->
<!--      <div *ngIf="!breakfast">Breakfast: Not</div>-->
<!--      <div>{{breakfast}}</div>-->
<!--      <div>{{howManyPeople}}</div>-->
<!--      <div>{{price}}</div>-->
<!--      <div class="div-center">-->
<!--        <p-button label="Book" icon="pi pi-check"></p-button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <img width="400px" alt="Card" src="{{image}}">-->
<!--  </div>-->
<!--</div>-->

<!--<div class="container">-->
<!--  <div class="card">-->
<!--    <div class="imgBx">-->
<!--      <img src="{{image}}">-->
<!--    </div>-->
<!--    <div class="contentBx">-->
<!--      <div *ngIf="breakfast">Breakfast: Yes</div>-->
<!--      <div *ngIf="!breakfast">Breakfast: Not</div>-->
<!--      <div>{{breakfast}}</div>-->
<!--      <div>{{howManyPeople}}</div>-->
<!--      <div>{{price}}</div>-->
<!--      <div class="div-center">-->
<!--        <p-button label="Book" icon="pi pi-check"></p-button>-->
<!--      </div>-->
<!--      </div>-->
<!--      <div class="color">-->
<!--        <h3>Color :</h3>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--      </div>-->
<!--      <a href="#">Buy Now</a>-->
<!--    </div>-->
<!--  </div>-->
