<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>

<!--<div class="bg-text">-->
<!--  <h1>A Little Big Hotel</h1>-->
<!--  <h4>Welcome to Little Big Hotel, your hospitality choice! On your stay at our hotel, we provide you authentic hospitality that is sensibly expected to give what a five-star luxury hotel provides. A Little Big Hotel is offering international standard five star services to our customers with emphasis on quality of modern hospitality to all Ethiopians and international community at large. We wish you a happy stay in our hotel!</h4>-->
<!--    <div id="body_button">-->
<!--      <div class="button_hola">-->
<!--        <h3>see more</h3>-->
<!--      </div>-->
<!--      <div class="button_hola">-->
<!--        <h3>book now</h3>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->
