<nav>
  <ul class="menu">
    <li><a href="/home">Home</a></li>
    <li><a href="/book-list">Book</a></li>
    <li><a href="#!">Contact</a></li>
    <li><a href="/book-list">Book</a></li>
    <li><a href="#!">Login</a></li>

  </ul>
</nav>
<!--<div class="div-center">-->
<!--<figure class="snip1566">-->
<!--  <img src="https://srv2.imgonline.com.ua/result_img/imgonline-com-ua-Resize-sBNOgw2WdOw.jpg" alt="sq-sample14" />-->
<!--  <figcaption><i>Home</i></figcaption>-->
<!--  <a href="/home"></a>-->
<!--</figure>-->
<!--<figure class="snip1566"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample17.jpg" alt="sq-sample17" />-->
<!--  <figcaption><i>Book</i></figcaption>-->
<!--  <a href="/book-list"></a>-->
<!--</figure>-->
<!--<figure class="snip1566"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample19.jpg" alt="sq-sample19" />-->
<!--  <figcaption><i>Info</i></figcaption>-->
<!--  <a href="#"></a>-->
<!--</figure>-->
<!--<figure class="snip1566"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample20.jpg" alt="sq-sample20" />-->
<!--  <figcaption><i>Login</i></figcaption>-->
<!--  <a href="#"></a>-->
<!--</figure>-->
<!--</div>-->

<!--<div class="header"></div>-->
<!--<div class="button-container-1">-->
<!--  <span class="mas"></span>-->
<!--  <button id='work' type="button" name="Hover">Login</button>-->
<!--</div>-->

<!--<nav class="navbar navbar-light bg-light">-->
<!--  <div class="container">-->
<!--    <a class="navbar-brand" href="/home">-->
<!--      <img-->
<!--      src="https://img.icons8.com/bubbles/100/000000/army-star.png"-->
<!--      height="100"-->
<!--        alt=""-->
<!--        loading="lazy"-->
<!--      />-->
<!--    </a>-->
<!--      <a class="navbar-brand" href="/book-list">-->
<!--        <img-->
<!--        src="https://img.icons8.com/bubbles/100/000000/stack-of-money.png"-->
<!--          height="70"-->
<!--          alt=""-->
<!--          loading="lazy"-->
<!--        />-->
<!--      </a>-->
<!--        <a class="navbar-brand" href="/info">-->
<!--          <img-->
<!--          src="https://img.icons8.com/bubbles/100/000000/about.png"-->
<!--            height="70"-->
<!--            alt=""-->
<!--            loading="lazy"-->
<!--          />-->
<!--    </a>-->
<!--    <a class="navbar-brand" href="/login">-->
<!--      <img-->
<!--      src="https://img.icons8.com/bubbles/100/000000/login-rounded-right.png"-->
<!--        height="70"-->
<!--        alt=""-->
<!--        loading="lazy"-->
<!--      />-->
<!--    </a>-->
<!--  </div>-->
<!--</nav>-->
